<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <title>FEELA</title>
</head>
<body>
  <header>
    <h1 class = "headline">
      <a>FEELA</a>
    </h1>
    <ul class = "nav-list"></ul>
      <li class="nav-list-item">posts</li>
      <li class="nav-list-item">lists</li>
  </header>
  <footer>
  </footer>
</body>
</html>